<footer class="page-footer">
    <div class="page-footer__container">
        <p class="page-footer__small-title small-title">
            <!-- ,-->
        </p>
        <ul class="social-icons page-footer__social-icons">
            <li class="social-icons__list-item social-icons__list-item_vk">
                <a class="link social-icons__link" href="https://ok.ru/video/c2104657">
                    <span class="social-icons__name">Одноклассники</span>
                </a>
            </li>
            <li class="social-icons__list-item social-icons__list-item_tw">
                <a class="link social-icons__link" href="https://discord.gg/tnbwvpb">
                    <span class="social-icons__name">Discord.gg</span>
                </a>
            </li>
            <li class="social-icons__list-item social-icons__list-item_tg">
                <a class="link social-icons__link" href="https://zen.yandex.ru/id/5c8a32dd0ab83700b33aca3d">
                    <span class="social-icons__name">Яндекс.Дзен</span>
                </a>
            </li>
            <li class="social-icons__list-item social-icons__list-item_gg">
                <a class="link social-icons__link" href="https://goodgame.ru/channel/kesidamoe/">
                    <span class="social-icons__name">GoodGame</span>
                </a>
            </li>
            <li class="social-icons__list-item social-icons__list-item_twitch">
                <a class="link social-icons__link" href="https://www.twitch.tv/tokioshow">
                    <span class="social-icons__name">Twitch</span>
                </a>
            </li>
            <li class="social-icons__list-item social-icons__list-item_youtube">
                <a class="link social-icons__link" href="https://www.youtube.com/user/ShowTokio">
                    <span class="social-icons__name">Youtube</span>
                </a>
            </li>
            <li class="social-icons__list-item social-icons__list-item_tiktok">
                <a class="link social-icons__link" href="https://vm.tiktok.com/g8SDBD/">
                    <span class="social-icons__name">TikTok</span>
                </a>
            </li>
		</ul>
		<ul class="social-icons page-footer__social-icons">
            <li class="social-icons__list-item social-icons__list-item_instagram">
                <a class="link social-icons__link" href="https://www.instagram.com/kesida_moe/">
                    <span class="social-icons__name">Instagram</span>
                </a>
            </li>
            <li class="social-icons__list-item social-icons__list-item_telegram">
                <a class="link social-icons__link" href="https://t.me/tokioshow">
                    <span class="social-icons__name">Telegram</span>
                </a>
            </li>
            <li class="social-icons__list-item social-icons__list-item_shikimori">
                <a class="link social-icons__link" href="https://shikimori.one/Дмитрий+Кесида">
                    <span class="social-icons__name">Shikimori</span>
                </a>
            </li>
            <li class="social-icons__list-item social-icons__list-item_vkgroup">
                <a class="link social-icons__link" href="https://vk.com/club80118277">
                    <span class="social-icons__name">Vk group</span>
                </a>
            </li>
            <li class="social-icons__list-item social-icons__list-item_vkpage">
                <a class="link social-icons__link" href="https://vk.com/id33997987">
                    <span class="social-icons__name">Vk page</span>
                </a>
            </li>
            <li class="social-icons__list-item social-icons__list-item_vkchat">
                <a class="link social-icons__link" href="https://vk.me/join/AJQ1dwHjKRZbkijR2VbRFZvF">
                    <span class="social-icons__name">Vk chat</span>
                </a>
            </li>
            <li class="social-icons__list-item social-icons__list-item_excel">
                <a class="link social-icons__link" href="https://docs.google.com/spreadsheets/d/1-RHpq9LGPer5_vdIHm9DR76IdUGUNiynNjfAEHDwns0/edit">
                    <span class="social-icons__name">google.sheets: tokioshow проведенные стримы. записи стримов</span>
                </a>
            </li>

            <!-- <li class="social-icons__list-item social-icons__list-item_tg">
                <a class="link social-icons__link" href="">
                    <span class="social-icons__name">Вконтакте</span>
                </a>
            </li> -->
        </ul><!-- <br><div style="text-align: center;"><button onclick="document.getElementById('overlay').style.display='block'"><font size="1">Поддержали</font></button></div> -->
    </div>
</footer>
</body>

</html>