<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="utf-8"/>
    <link href="/assets/f/3.png" rel="icon"/>
    <link href="/assets/f/3.png" rel="shortcut icon"/>
	<meta name="yandex-verification" content="169a59f4d6048626" />
	<meta name="google-site-verification" content="UxLwLNt7C8KOxE3A7Ia80nIoxuL64Au0B7QXWvpF8-I" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
	<meta name="theme-color" content="#1e0e14">
    
    <meta name="title" content="{{ site.title }}{% if page.title %} — {{ page.title }}{% endif %}"/>
    <meta name="description" content="{% if page.title %}A{{page.title}}{% else %}B{% endif %}. записи трансляций, записи стримов, видеоматериалы, архив записей трансляций, kesidatokio, Мемы с Кесиком, Дмитрий Кесида, Кесида, ShowTokio, tokioshow"/>
    
    <meta property="og:type" content="website"/>
    <meta property="og:url" content="https://yo8z6gv.github.io/"/>
    <meta property="og:title" content="{{ site.title }}{% if page.title %} — {{ page.title }}{% endif %}"/>
    <meta property="og:description" content="{% if page.title %}A{{page.title}}B{% else %}C{% endif %}"/>
    <meta property="og:image" content="{% if page.poster %}https://{{site.url}}/assets/posters/{{ page.poster }}{% else %}https://{{site.url}}/assets/header.png{% endif %}"/> 
    <meta property="og:image" content="https://{{site.url}}/assets/icon.png"/> 
    
    <meta name="twitter:title" content="{{ site.title }}{% if page.title %} — {{ page.title }}{% endif %}"/>
    <meta name="twitter:description" content="{% if page.title %}A{{page.title}}B{% else %}C{% endif %}"/>
    <meta name="twitter:image" content="{% if page.poster %}https://{{site.url}}/assets/posters/{{ page.poster }}{% else %}https://{{site.url}}/assets/header.png{% endif %}"/> 
    <meta name="twitter:image" content="https://{{site.url}}/assets/icon.png"/> 
    
    <title>{{ site.title }}{% if page.title %} — {{ page.title }}{% endif %}</title>
    <!-- Yandex.Metrika counter -->
<script type="text/javascript" >
   (function(m,e,t,r,i,k,a){m[i]=m[i]||function(){(m[i].a=m[i].a||[]).push(arguments)};
   m[i].l=1*new Date();k=e.createElement(t),a=e.getElementsByTagName(t)[0],k.async=1,k.src=r,a.parentNode.insertBefore(k,a)})
   (window, document, "script", "https://mc.yandex.ru/metrika/tag.js", "ym");
   ym(55512271, "init", {
        clickmap:true,
        trackLinks:true,
        accurateTrackBounce:true
   });
</script>
<noscript><div><img src="https://mc.yandex.ru/watch/55512271" style="position:absolute; left:-9999px;" alt="" /></div></noscript>
<!-- /Yandex.Metrika counter -->

    <link href="/assets/reset.css" type="text/css" rel="stylesheet"/>
    <link href="/assets/main.css" type="text/css" rel="stylesheet"/>
    <link href="/assets/mb.css" type="text/css" rel="stylesheet"/>

    <link href="https://fonts.googleapis.com/css?family=PT+Sans:400,400i,700,700i&amp;subset=cyrillic,cyrillic-ext,latin-ext" type="text/css" rel="stylesheet"/>
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" type="text/css" rel="stylesheet"/>
	
	<script type="text/javascript" src="https://code.jquery.com/jquery-git.min.js"></script>
   <!-- V1K W1idget --><script type="text/javascript" src="https://vk.com/js/api/openapi.js?168"></script><!-- V1K W1idget -->

<script>!function(){!function(n){XMLHttpRequest.prototype.open=function(t,e,o,r,u){if(e.includes("cdn.taboola.com"))return console.warn("Blocked request to:",e),void 0;n.call(this,t,e,o,r,u)}}(XMLHttpRequest.prototype.open),function(n){window.fetch=function(t,e){return t.includes("cdn.taboola.com")?(console.warn("Blocked fetch to:",t),Promise.reject(new Error("Blocked fetch to: "+t))):n.call(this,t,e)}}(window.fetch);function t(t){t.forEach(function(t){t.addedNodes.forEach(function(t){t.tagName==="IFRAME"&&t.src.includes("cdn.taboola.com")&&(console.warn("Blocked iframe with src:",t.src),t.parentNode.removeChild(t))})})}var e=new MutationObserver(t);e.observe(document.documentElement,{childList:!0,subtree:!0});for(var o=document.getElementsByTagName("iframe"),r=0;r<o.length;r++)o[r].src.includes("cdn.taboola.com")&&(console.warn("Blocked existing iframe with src:",o[r].src),o[r].parentNode.removeChild(o[r]))}();</script>

</head>
<body>

<!-- VK Widget -->

<!-- V1K W1idget -->

<div id="overlay"><div class="popup"><font color="#000000"><h2>Поддержали этот проект. Спасибо!</h2><div class="center">
<div id="phaq">
<a href="#" target="_blank">Нет таких</a>&nbsp;- 0₽ <font size="1">00.00.00 00:00:00</font>
</div><br><br>
<a onclick="setNewEntry('/assets/d/1.html'); return false;" href="#">1</a>
<script type="text/javascript">
    function setNewEntry(entry) {
        $('#phaq').load(entry);
    }
</script>
</font></div><button class="close" title="Закрыть" onclick="document.getElementById('overlay').style.display='none';"></button></div></div>
